.feedback-container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.feedback-list {
  width: 70%;
  height: 100%;
  /* background-color: teal; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  overflow-y: auto;
  overflow-x: hidden;
}
.feedback-item {
  width: 90%;
  height: 250px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 1px 1px 10px 0px #dddddd;

  margin-top: 30px;
}

.fd-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 25%;
}

.fd-header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fd-header-left h3 {
  font-weight: 400;
  margin-right: 15px;
}

.fd-header-left p {
  color: #686d76;
  font-weight: 200;
}

.fd-avatar {
  width: 50px;
  height: 50px;
  border-radius: 27px;
  background-color: blueviolet;
  margin-right: 10px;
}

.fd-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 27px;
  margin-right: 10px;
}

.fd-avatar-img img {
  width: 50px;
  height: 50px;
  border-radius: 27px;
}

.fd-header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fd-tags {
  padding: 10px;
  margin-right: 15px;
  width: auto;
  border-radius: 10px;
}

.fd-body {
  height: 50%;
  margin-left: 10px;
}

.fd-body p {
  color: #686d76;
  font-weight: 300;
  margin-top: 10px;
}

.fd-body h2 {
  color: #31363f;
  font-weight: 400;
}

.fd-footer {
  height: 25%;
}

.fd-footer-input {
  width: 90%;
  height: 45px;
  border-radius: 18px;
  background-color: #ffffff;
  border: 0.5px solid #dddddd;

  display: flex;
  flex-direction: row;
}

.fd-footer-input input {
  width: 80%;
  height: 45px;
  border-radius: 18px;
  border: none;
  outline: none;
  padding-left: 20px;
}

.fd-input-icons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* filter */
.feedback-filter {
  width: 30%;
  height: 100%;
}
.fd-filter {
  width: 80%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 1px 1px 10px 0px #dddddd;

  margin-top: 30px;
}

.fd-filter-title {
  width: 100%;
  height: 50px;
  background-color: #f6f5f2;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fd-filter-title p {
  margin-left: 25px;
}

.fd-filter-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fd-filter-card {
  height: 250px;
  width: 88%;

  border-top: 0.5px solid #f5f7f8;

  padding: 20px;
}
