.home-container {
  font-family: sans-serif;
}
.banner img {
  width: 100%;
  height: 50vh;
}

.section-1 {
  width: 100%;
  height: 180px;
  /* background-color: teal; */
}

.start-learning {
  height: 100px;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
}

.start-learning-btn {
  width: 280px;
  height: 50px;
  background-color: #fca311;
  border-radius: 10px;
  padding-left: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &:hover {
    background-color: #db8a08;
    cursor: pointer;
  }
}

.start-learning-btn p {
  color: #ffffff;
  font-size: 22px;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-down h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

.arrow-bounce {
  -moz-animation: arrow-bounce 2s infinite;
  -webkit-animation: arrow-bounce 2s infinite;
  animation: arrow-bounce 2s infinite;
}

@keyframes arrow-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.analytics {
  width: 100%;
  height: 200px;
  /* background-color: tomato; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.small-card {
  width: 180px;
  height: 150px;
  /* background-color: teal; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-card h3 {
  font-size: 45px;
  color: #fca311;
}
.small-card h5 {
  font-size: 18px;
  margin-top: 10px;
}

/* section 3 */

.section-3 {
  width: 100%;
  height: 600px;
  /* background-color: teal; */
  padding: 10px;
}

.s3-greeting {
  margin-left: 10px;
}

.s3-greeting h3 {
  color: #fca311;
  font-size: 30px;
}

.s3-greeting p {
  font-size: 18px;
  margin-top: 25px;
}

.s3-explore-btn {
  width: 200px;
  height: 45px;
  background-color: #fca311;
  color: #ffffff;
  border-radius: 7px;
  margin-top: 45px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &:hover {
    background-color: #db8a08;
    cursor: pointer;
  }
}

.s3-explore-btn h4 {
  font-size: 20px;
}

.s3-cources {
  margin-top: 25px;
  margin-left: 10px;
}

.s3-cources h3 {
  font-size: 24px;
}

.s3-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 35px;
}

.s3-card {
  width: 300px;
  height: 350px;
  background-color: #dddddd;
  border-radius: 7px;
}

.s3-card-top {
  height: 40%;
  width: 100%;
  background-color: #ffffff;
  border: 0.5px solid #dddddd;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

.s4-footer {
  width: 98%;
  height: 80px;
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: #f9f9f9;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.s4-copy-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* width: 50%;
  padding-left: 30px; */
}

.s4-footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  /* width: 50%;
  padding-right: 30px; */
}

.footer-social-icon {
  margin-right: 15px;
  color: #dddddd;

  &:hover {
    color: #14213d;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .banner img {
    height: 210px; /* Height for small devices */
  }

  .section-1 {
    height: 150px; /* Adjust other sections for small devices */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner img {
    height: 340px; /* Height for medium devices */
  }
}

@media screen and (min-width: 1024px) {
  .banner img {
    height: 535px; /* Height for large devices */
  }
}
